.social__list, .menu__button, .subscription__button, .modal__button, .navigation__list, .advantages__thumb, .clients__thumb, .signup__policy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__button, .subscription__button, .signup__button {
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: solid 0px transparent;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.menu-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--header {
  color: #000000;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.navigation__link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  color: #2196f3;
}

.navigation__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts__link {
  display: inline-flex;
  position: relative;
  align-items: center;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--team {
  color: #afb1b8;
}

.social__link--team:hover, .social__link--team:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link--footer:hover, .social__link--footer:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.address__map {
  color: #ffffff;
  text-decoration: none;
  font-style: initial;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:hover, .address__map:focus {
  color: #2196f3;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: initial;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover, .address__contact:focus {
  color: #2196f3;
}

.hero__heading {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__heading {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.section-heading {
  margin-bottom: 50px;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.advantages__heading {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.team-member__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.sample__heading {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.hero__button {
  padding: 10px 32px;
  text-align: center;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.menu__button {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 10;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .subscription__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription__button:hover, .subscription__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.signup__button {
  padding: 10px 32px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.signup__button:hover, .signup__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.filter__button {
  min-height: 38px;
  background-color: #f5f4fa;
  border: solid 0px transparent;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus, .filter__button:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  color: #2196f3;
  cursor: pointer;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.social__icon,
.clients__icon,
.modal__icon {
  fill: currentColor;
}

.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.signup__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__input:focus + .signup__icon {
  fill: #2196f3;
}

.icon-menu {
  fill: #212121;
}

.icon-menu .menu__button:hover,
.icon-menu .menu__button:focus,
.menu__button:active .icon-menu {
  fill: #2196f3;
}

.icon-cross {
  display: none;
  fill: #212121;
}

.icon-cross .menu__button:hover,
.icon-cross .menu__button:focus,
.menu__button:active .icon-cross {
  fill: #2196f3;
}

.menu__button.is-open .icon-cross {
  display: block;
}

.menu__button.is-open .icon-menu {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  perspective: 1600px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotateY(180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotateY(0deg);
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 2 * 15px);
    padding: 20px 40px;
  }
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
}

@media screen and (max-width: 767px) {
  .header__menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.menu__item {
  margin-bottom: 32px;
}

.menu__item--last {
  margin-bottom: 0;
}

.menu__bottom {
  margin-top: auto;
}

.menu__link {
  font-size: 40px;
  color: #212121;
}

@media screen and (max-width: 480px) {
  .menu__link {
    font-size: 32px;
  }
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: #2196f3;
}

.menu__phone {
  font-size: 34px;
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .menu__phone {
    font-size: 28px;
  }
}

.menu__mail {
  font-size: 24px;
  color: #757575;
}

@media screen and (max-width: 480px) {
  .menu__mail {
    font-size: 18px;
  }
}

.menu__social-list {
  display: flex;
  margin-top: 64px;
}

.menu__social-link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .menu__social-link {
    font-size: 12px;
  }
}

.menu__social-item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 22px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 480px) {
  .menu__social-item:not(:last-child)::after {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.hero {
  max-width: 100%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.advantages {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  margin: 15px;
}

@media screen and (min-width: 480px) {
  .advantages__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    max-width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    max-width: calc((100% - 4 * 30px) / 4);
  }
}

.advantages__thumb {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.examples {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .examples {
    display: none;
  }
}

.examples__list {
  display: flex;
}

.examples__thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.examples__thumb:not(:last-child) {
  margin-right: 30px;
}

.examples__description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-member {
  max-width: 100%;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-member {
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    max-width: calc((100% - 4 * 30px) / 4);
  }
}

.team-member img {
  width: 100%;
}

.team-member__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.clients__list {
  display: flex;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

.clients__item {
  margin: 15px;
  height: 92px;
  width: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__thumb {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__thumb:hover, .clients__thumb:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.filter {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter__list {
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.projects__sample {
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .projects__sample:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects__sample {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__sample {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.sample__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sample__link:hover, .sample__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.sample__thumb {
  position: relative;
  overflow: hidden;
}

.sample__thumb img {
  width: 100%;
}

.sample__overlay {
  position: absolute;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sample__link:hover .sample__overlay,
.sample__link:focus .sample__overlay {
  transform: translateY(-100%);
}

@media screen and (max-width: 320px) {
  .sample__overlay {
    font-size: 12px;
  }
}

.sample__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social {
    width: 50%;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-top: 12px;
    margin-right: 93px;
  }
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.address {
  text-decoration: none;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer__subscription {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscription__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__email {
  height: 50px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.25;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .subscription__email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__email {
    margin-right: 12px;
    width: 358px;
  }
}

.subscription__email:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.subscription__email::placeholder {
  margin-right: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.signup__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.signup__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
}

.input__wrap {
  position: relative;
  margin-bottom: 10px;
}

.signup__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.comment__wrap {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.signup__comment {
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.signup__policy {
  margin-bottom: 30px;
}

.policy__check {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #000000;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__check--hidden:checked + .policy__check {
  background-color: #2196f3;
  border-color: #2196f3;
}

.policy__check--hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.policy__text {
  line-height: 1.71;
}

@media screen and (max-width: 1299px) {
  .policy__text {
    font-size: 12px;
  }
}

.policy__link {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */