.navigation {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__list {
  @extend %flex-centered;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}
.contacts__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
